@model AboutViewModel

<h2>@Model.Title</h2>

<p>@Model.Message</p>
<p>We were formed on @Model.Formed.ToShortDateString()</p>
<p>And are now operating for @Model.Days days</p>

<p class="small"><em>Current Date-time @Model.Now</em></p>

