@model Service

<h3>Delete Service</h3>


<dl>
    <dt>Carried Out By</dt><dd>@Model.CarriedOutBy</dd>
    <dt>Date Of Service</dt><dd>@Model.DateOfService.ToShortDateString()</dd>
    <dt>Description</dt><dd>@Model.WorkDescription</dd>
    <dt>Milage at Service</dt><dd>@Model.CurrentMilage</dd>
    <dt>Cost of Service</dt><dd>£@Model.Cost</dd>

    <form asp-action="DeleteServiceConfirm">
        <input type="hidden" asp-for="ServiceId" class="form-control" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.VehicleID">Cancel</a>
        </div>
    </form>
</dl>


