@model IList<Vehicle>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-asp-controller="Home" asp-action="Index" asp-route-orderBy="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Vehicles</li>
  </ol>
</nav>

<h3>All Vehicles</h3>


<!-- Nav Bar To Change Order By -->
<ul class="nav nav-tabs justify-content-center sticky-top">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-route-orderBy="">Id</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-route-orderBy="Make">Make</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-route-orderBy="Model">Model</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-route-orderBy="RegDate">Year</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-route-orderBy="FuelType">Fuel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link material-icons" asp-action="Create">add_circle_outline</a>
    </li>
</ul>
</br>

<!-- List of Cards -->
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var v in Model)
    {
        <div class="col mb-4">
            <div class="card mx-auto" style="width: 18rem;" >
                <img src="@v.Photo" class="card-img-top" alt="Image of @v.Make @v.Model in @v.Colour">
                <div class="card-body">
                    <h5 class="card-title">@v.Make </h5>
                    <p class="card-text">@v.Model</p>
                </div>
            
                <div class="card-body">
                    
                        <p><b>Year:</b> @v.RegDate.Year </p>
                        <p><b>Fuel Type:</b> @v.FuelType </p>
                        <p><b>Vehicle ID:</b> @v.Id </p>
                </div>
                <div class="card-footer">
                    <!-- Function Buttons --> 
                    <div class="row">
                        <div class="col-4"><a class="material-icons p-1" asp-action="Details" asp-route-id=@v.Id>short_text</a> </div>
                        <div class="col-4"><a class="material-icons p-1" asp-action="Edit" asp-route-id="@v.Id">create</a> </div>
                        <div class="col-4"><a class="material-icons p-1" asp-action="Delete" asp-route-id="@v.Id">remove_circle_outline</a> </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
